
.main-container {
    background-color:#303030;
    color:#CACACA;
}
.intro {
    font-size:60px;
}
.intro-details {
    letter-spacing : 4px;
}
.hightlight {
    color: tomato;
    text-shadow: -6px -3px #05FDD8;
}
.intro-btn {
    background-color:#303030;
    border: 1px solid #05FDD8;
    border-radius:5px;
    padding:10px 35px;
    color:#05FDD8;

}
.intro-btn:hover {
    background-color:#05FDD8;
    color:black;
    transition:background-color 1s;
}
.header img {
    /* box-shadow:4px 4px #05FDD8 */
}
.brand-text {
    color: #05FDD8;
}