.footer-container {
    transform: scale(1);
    background-color: #343A40;
    height: auto;
}
.footer-container ul {
    list-style:none;
    margin-bottom:30px;
}
ul li {
    margin-bottom:8px;
}
li:hover {
    color:#FC1056 !important;
}
.footer-icon:hover {
    color:#05FDD8 !important;
    padding:2px;
    transition:padding 0.3s, color 0.5s;
}