body {
    background-color: #303030;
}
.technologies {
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
}
.technologies li {
    margin:10px;
    background-color:lightgray;
    color:black;
    padding:5px 15px;
    border-radius: 10px;
}
.link a{
    color: #05FDD8;
}.link a:hover{
    color: #09bfa4;
}